@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400%3b500%3b600%3b700%3b800&family=Montserrat:wght@400%3b500%3b600%3b700&family=Open+Sans&family=Poppins:wght@500&family=Inter:wght@400%3b500%3b600%3b700&family=Mona+Sans:wght@400%3b500%3b600%3b700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --app-height: 100%;
  --black: #000;
  --white: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: var(--white);
  color: var(--black);
}

body.lock,
body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  min-width: 360px;
}

.container {
  max-width: 1657px;
  margin: 0 auto;
  padding: 0 15px;
}

.container2 {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 15px;
}

.maintenence {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maintenence__body {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 580px;
  width: 100%;
}

.maintenence__image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.maintenence__image img {
  max-width: 100%;
  height: auto;
}

.maintenence__logo {
  max-width: 520px;
  width: 100%;
  margin-top: 36px;
}

.maintenence__logo img {
  width: 100%;
  height: auto;
}

.maintenence__text {
  font-family: "Mona Sans", sans-serif;
  font-size: 2rem;
  margin-top: 36px;
  text-align: center;
}

@media (max-width: 480px) {
  .maintenence {
    justify-content: flex-start;
    padding-top: 10vh;
  }
}